<footer class="flex flex-col p-5 bg-dark">
  <ul class="py-5 
             tablet:flex tablet:flex-row tablet:justify-around">
    <li class="group block w-full p-5 mb-5 rounded-[5px] text-center border border-white transition hover:border-highlight hover:shadow-custom duration-100"><a href="mailto:contact@securedigital.com" class="text-white group-hover:text-highlight" target="_blank">Contácta por Email</a></li>
    <li class="group block w-full p-5 mb-5 rounded-[5px] text-center border border-white transition hover:border-highlight hover:shadow-custom duration-100"><a href="tel:+123456789" class="text-white group-hover:text-highlight" target="_blank">Lláma al +34 666 888 000</a></li>
    <li class="group block w-full p-5 mb-5 rounded-[5px] text-center border border-white transition hover:border-highlight hover:shadow-custom duration-100"><a href="https://ejemplo.com/politica-privacidad" class="text-white group-hover:text-highlight" target="_blank">Política de Privacidad</a></li>
  </ul>
  <div class="w-full p-5 mb-5 rounded-[5px] text-center text-2 font-bold text-white"><i class="fa-regular fa-copyright mr-5"></i>SECURE DIGITAL</div>
  <ul class="w-full p-5 mb-5 rounded-[5px] text-center">
    <li class="block py-5"><a class="block w-100 py-2.5 px-5 text-xl tracking-[2px] rounded-[5px] text-white transition hover:text-dark hover:bg-highlight duration-100" href="index.html">Home</a></li>
    <li class="block py-5"><a class="block w-100 py-2.5 px-5 text-xl tracking-[2px] rounded-[5px] text-white transition hover:text-dark hover:bg-highlight duration-100" href="speakers.html">Speakers</a></li>
  </ul>
  <ul class="w-full p-5 mb-5 rounded-[5px] text-center">
    <li class="inline-block p-5"><a class="text-white text-2 hover:text-highlight" href="#"><i class="fa-brands fa-google-plus-g"></i></a></li>
    <li class="inline-block p-5"><a class="text-white text-2 hover:text-highlight" href="https://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li class="inline-block p-5"><a class="text-white text-2 hover:text-highlight" href="https://x.com" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
  </ul>
</footer>
