<header class="flex flex-col p-5 bg-dark 
               xl:flex flex-row xl:items-center xl:justify-around">
  <div class="py-5 text-2 font-bold text-center text-white 
              md:text-5xl"><i class="fa-regular fa-copyright mr-5"></i>SECURE DIGITAL</div>
  <nav class="text-center">
    <ul class="p-0">
      <li class="py-5 block"><a class="block py-2.5 px-5 text-xl text-white tracking-[2px] rounded-[5px] transition hover:bg-highlight hover:text-dark duration-100" href="speakers.html">Speakers</a></li>
      <li class="py-5 block"><a class="block py-2.5 px-5 text-xl text-white tracking-[2px] rounded-[5px] transition hover:bg-highlight hover:text-dark duration-100" href="index.html">Blog</a></li>
    </ul>
  </nav>
</header>
