@tailwind base;
@tailwind components;

/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import variables
 */

/**
 * Import npm dependencies
 * see: https://v2.parceljs.org/features/module-resolution/
 * see commented examples below
 */

// @import "some-node-module";
// @import "@some-company/some-node-module";

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */

/**
 * Do NOT include anything else in this file!
 */

@import "npm:@fortawesome/fontawesome-free/css/all.css";

@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }
}

@layer utilities {
}

@layer components {
  .blockquote {
    @apply ml-5 text-2xl leading-9 border-l-4 border-highlight p-5 m-5 italic
           laptop:float-left laptop:w-[40%] laptop:my-5 laptop:text-1.7;
  }

  .main__title {
    @apply w-full p-5 mb-12 text-center font-bold rounded-[5px] text-2 bg-button 
           tablet:text-5xl; 
  }

  .content-div {
    @apply bg-white/80 p-5 m-5 rounded-[5px] 
             tablet:mx-auto;
  }
}
